<!DOCTYPE html>

<!--table showing the weather-->
<div class="panel panel-default" ng-if="forecastData && forecastData.list.length > 0">

    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>{{forecastData.city.name}}, {{forecastData.city.country}}</h4>
    </div>

    <!-- Table -->
    <table class="table table-striped weather-table">

        <!--Header row-->
        <tr class="top-row">
            <td>Time</td>
            <td>Weather</td>
            <td>Description</td>
            <td>Max temp.</td>
            <td>Min temp.</td>
            <td>Humidity</td>
            <td>Wind</td>
            <td></td>
        </tr>

        <!--Populating the array with the data-->

        <tr ng-repeat="forecastItem in forecastData.list track by $index" ng-if="$index % 2 == 0">
            <!--Time-->
            <td>{{forecastItem.dt | date:'dd/M/yyyy - H:mm' : 'UTC'}}</td>
            <!--Main weather-->
            <td>{{forecastItem.weather[0].main}}</td>
            <!--Description-->
            <td>{{forecastItem.weather[0].description}}</td>
            <!--Max temp.-->
            <td>{{forecastItem.main.temp_max | number: 2}}°C</td>
            <!--Min temp-->
            <td>{{forecastItem.main.temp_min | number: 2}}°C</td>
            <!--Humidity-->
            <td>{{forecastItem.main.humidity}}%</td>
            <!--Wind speed-->
            <td>{{forecastItem.wind.speed}}km/h</td>
            <!--Edit button-->
            <td>
                <button type="button" class="btn btn-primary" ng-click="openEditModal(forecastItem.dt)">
                    Edit
                </button>
            </td>
        </tr>

        <!--Average temperature-->
        <tr class="bottom-row">
            <td colspan='8'>
                The average temperature is:
                <strong>{{forecastData | averageTemperature}}</strong>°C
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-default" ng-if="!forecastData || forecastData.list.length === 0">
    <div class="nodata-indication">
        No data show!
    </div>
</div>
